/* Boton */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

body{
    font-family: 'Fira Mono', monospace;
    color: black;
    
}

/* Prueba 1 */
.side-container{
    position: relative;
    position: fixed;
    width: 20%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(42, 56, 71);
    color: rgb(161, 139, 139);
    z-index: 3;
    display: block;
    left: 0;
    /*opacity: 1;*/
    clip-path: circle(74.0% at 49% 47%);
    transition: clip-path 1s ease;
}

.close{
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .5s ease;
    left: -100%;
    /*opacity: 0*/
}


.img-fondo {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    pointer-events: none;
    z-index: 1;
}
.img-fondo img{
    width: 90%;
}

.labelBtn{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
.labelBtn img{
    width: 100px;
    height: 100px;
}

.inputBtn{
    display: none;
}

.sidebar-items{
    display: Flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(256, 256, 256, 0.9);
    padding-bottom: 3em;
}


.sidebar-items a {
    appearance:none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.img-pokeball-content{
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 3em 0 0 3em;
}


/* MOvIL VERSIÓN */


@media (max-width: 800px){

.side-container{    
    position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    display: none;
    z-index: 20;
}

.img-pokeball-content{
    margin: 1em 0 0 1em;
    z-index: 3;
}

    
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contenedor-card{
display: none;
  }
